/*Set global variables */

:root {
    /*Canva: Retro Punch*/
    --cyan: #2ff3e0;
    --gold: #f8d210;
    --pink: #fa26a0;
    --chili_pepper: #f51720;
    /*Canva: Middle Eastern Empire*/
    --rose_red: #922c40;
    --desert_sun: #dc9750;
    --champagne: #f3eac0;
    --dark_blue: #1e2640;
    /*Canva: Ginger Bread Icecream */
    --beige: #6f5b3e;
    --cream: #f9f6f0;
    --beige_2: #c4ae78;
    --black: #171515;
    /*Canva: Up Shore */
    --misty_blue: #dee2ec;
    --taupe: #8c756a;
    --turquoise: #1ac8db;
    --teal: #0292b7;
    /*Canva: Berry Blues */
    --turquoise_2: #05e0e9;
    --rose_red-2: #ff2768;
    --seafoam_green: #cfeed1;
    --carafe: #4e1a3d;
    /*Fonts */
    --font_1: "Satisfy";
    --top-decor-height: 120px;
    --bottom-decor-height: 55px;
    --logo-margin: -175px;
    --section_1-height: 500px;
    --section_2-height: 1fr;
    --section_3-height: 1fr;
    --section_4-height: 0.5fr;
    --section_2-top-margin: 20px;
    --z_index-decor: -2000;
    --z_index-header: 0;
    --z_index-ad: -1000;
    --z_index-dropdown: 1000;
    --body_background_color: #f5f5f5;
}


/* Reset CSS styles */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--body_background_color);
    font-family: "Roboto", sans-serif;
}


/* Setup header section */

header #header-decor {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#header {
    z-index: var(--z_index-header);
    position: relative;
}

#header-decor {
    z-index: var(--z_index-decor);
    position: relative;
    margin-top: 0px;
}

#top-decor,
footer {
    display: block;
    width: 100vw;
    height: var(--top-decor-height);
    /*background-color: var(--chili_pepper);*/
    background-image: linear-gradient( to right, var(--chili_pepper), var(--chili_pepper), var(--gold));
}

#bottom-decor {
    display: block;
    width: 100vw;
    height: var(--bottom-decor-height);
    background-color: var(--champagne);
}

#navbar,
#foot-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--bottom-decor-height);
    padding-right: 160px;
}

#logo {
    /*background-color: green;*/
    width: 100vw;
    height: var(--top-decor-height);
    color: var(--champagne);
    margin-top: var(--logo-margin);
    align-items: center;
    top: 50%;
}

#logo p {
    text-align: center;
    font-family: var(--font_1), sans-serif;
    padding-top: 25px;
}

.dropdown {
    padding: 10px;
    display: none;
    position: absolute;
    overflow: hidden;
    /*background-color: #fff;*/
    z-index: var(--z_index-dropdown);
}

.drop_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*min-width: 120px;*/
    background-color: var(--body_background_color);
}

.main_menu,
.foot-nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.main_menu {
    background-color: var(--champagne);
}

.main_menu li,
.foot-nav li {
    float: left;
}

.main_menu li a,
.dropdown li a,
.foot-nav li a {
    display: inline-block;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    padding: 16px;
    width: 100%;
    height: 100%;
}

.main_menu li a {
    padding-right: 35px;
}

.main_menu li a:hover,
.dropdown li a:hover {
    background-color: var(--cyan);
}

#social-links {
    display: flex;
    align-items: center;
}

.fa-brands {
    padding: 10px;
}

#tastebud {
    text-decoration: none;
    text-align: center;
    font-size: 55px;
    font-family: "Satisfy", "Roboto", sans-serif;
}

#tastebud a {
    text-decoration: none;
    color: var(--champagne);
}

#ad-section {
    z-index: var(--z_index-ad);
}

#ad-section a img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -100px;
    margin-bottom: -200px;
    transition: margin-top 3s;
    transition: margin-bottom 3s;
}

#ad-section a img:hover {
    margin-bottom: 0px;
    margin-top: -10px;
    z-index: -3000;
}


/* Content section*/

#envilope {
    display: flex;
    background-color: var(--body_background_color);
    z-index: 1000;
    width: 100vw;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    /*display: grid;*/
    /*grid-template-rows: var(--section_1-height) var(--section_2-height) var( --section_3-height) var(--section_4-height);*/
    z-index: 10;
}

.content {
    display: flex;
    flex-direction: row;
}

#section_1 div {
    width: 100%;
    /*margin: 10px;*/
}

#first-1 {
    background-color: var(--chili_pepper);
}

#first-2 {
    background-color: var(--cyan);
}

#first-3 {
    background-color: var(--gold);
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#first-2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.category a img {
    display: block;
    width: 100%;
}

#first-1 p {
    text-align: center;
    padding: 25px 25px;
    font-size: 25px;
}

#first-2 p {
    text-align: center;
    padding: 25px 25px;
    font-size: 25px;
}

#first-3 p {
    text-align: center;
    padding: 25px 25px;
    font-size: 25px;
}

@media screen and (max-width: 1300px) {
    .content {
        flex-direction: column;
    }
    #navbar {
        display: none;
        flex-direction: column;
    }
    #menu,
    #social-links {
        width: 100%;
    }
    .dropdown {
        display: flex;
        flex-direction: column;
    }
    .drop_menu {
        display: none;
    }
    #envilope {
        margin: 0;
        margin-top: 195px;
    }
}

.dropdown:hover .drop_menu {
    display: flex;
}


/* CSS for Section No.2*/

.category #section_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#section_2 {
    width: 100vw;
    margin: 0px;
    margin: auto;
    background-color: var(--cyan);
    margin-top: var(--section_2-top-margin);
}

#section_2 #second-1 {
    background-color: white;
}

#section_2 div {
    width: 100%;
    margin: 0px;
}

.trending {
    margin-top: 40px;
    background-color: var(--body_background_color);
    height: 500px;
    padding: 20px;
    justify-content: center;
}

#section_3 .category {
    margin: 10px;
    text-align: center;
    height: 330px;
}

#section_3 .category img {
    display: block;
    height: 270px;
}

#section_3 .category p {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

#trending-font {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 10px;
}

#third-1 {
    background-color: var(--chili_pepper);
}

#third-2 {
    background-color: var(--gold);
}

#third-3 {
    background-color: var(--cyan);
}

#third-4 {
    background-color: var(--pink);
}


/* Section 4 formatting */

.videos {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    text-align: center;
}

.content-4 {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
}

#forth-1 {
    grid-area: 1/1/3/2;
    background-color: var(--cyan);
}

#forth-2 {
    grid-column: 1/2/2/3;
}

#forth-3 {
    grid-column: 2/2/3/3;
}

footer {
    margin-top: 200px;
    height: 200px;
}